<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.hotelsystem.dao.ICheckInPersonDao">
 
 	<select id="selectPersons" parameterType="int" resultMap="map">
 		select * from checkin_person where cp_rr_id=#{reserveRoom.id} and flag=0
 	</select>
 	<resultMap type="CheckInPersonBean" id="map">
 		<id property="id" column="cp_id"/>
  		<result property="name" column="cp_name"/>
  		<association property="reserveRoomId" column="cp_rr_id" 
  			javaType="ReserveRoomBean" 
  			select="com.hotelsystem.mapper.ReserveRoomMapper.selectById">
  		</association>
 	</resultMap>
 	
 	<insert id="insert" parameterType="CheckInPersonBean">
 		insert into checkin_person(cp_name,cp_rr_id) values (#{name},#{reserveRoom.id})
 	</insert>
 	<update id="update" parameterType="CheckInPersonBean">
 		update checkin_person set cp_name=#{name} where cp_id=#{id}
 	</update>
 	<update id="delete" parameterType="int">
 		update checkin_person set flag=1 where cp_id=#{id}
 	</update>
 </mapper>